@media (min-width:1275px) { 
    .box{
        background-color: #ea1d6f;
        position: relative;
        margin-left: 24%;
        width: 50%;
    }
    
    .textBox{
        margin-left: 20%;
    }
    .Cardheading{
        color: white;
    }
}

@media (min-width:1200px) and (max-width: 1275px) { 
.box{
    background-color: #ea1d6f;
    position: relative;
    margin-left: 24%;
    width: 50%;
}

.textBox{
    margin-left: 20%;
}
.Cardheading{
    color: white;
}
}

@media (max-width:576px) {
    .box{
        background-color: #ea1d6f;
        position: relative;
        margin-left: 14%;
        width: 70%;
    }
    .Cardheading{
        color: white;
    }
    .textBox{
        margin-left: 2%;
    }
    .button{
        height: 10px;
        font-size: 13px;
        border-radius: 25px;
    }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {  
    .box{
        background-color: #ea1d6f;
        position: relative;
        margin-left: 19%;
        width: 60%;
    }
    .Cardheading{
        color: white;
    }
    .textBox{
        margin-left: 20%;
    }
    .button{
        height: 10px;
        font-size: 13px;
        border-radius: 25px;
    }
    
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {
    .box{
        background-color: #ea1d6f;
        position: relative;
        margin-left: 24%;
        width: 50%;
    }
    .Cardheading{
        color: white;
    }
    .textBox{
        margin-left: 20%;
    }
    .button{
        height: 10px;
        font-size: 13px;
        border-radius: 25px;
    }
}


@media (min-width: 991px) and (max-width:1200px) { 
    .box{
        background-color: #ea1d6f;
        position: relative;
        margin-left: 24%;
        width: 50%;
    }
    .Cardheading{
        color: white;
    }
    .textBox{
        margin-left: 20%;
    }
    .button{
        height: 10px;
        font-size: 13px;
        border-radius: 25px;
    }

}