@media (min-width:1200px) { 
  .footer{
        background-color: #f30866;
        margin-top: 7%;
        /* position: fixed; */
        margin-top: 5%;
        bottom: 0;
        width: 100%;
    }
    .top{
        margin-top: 2%;
    }
    .footerContainer{
        margin-top: 2%;
    }
    .fisrtflex{
        display: flex;
        align-items: center;
    }
    .a:hover{
        text-decoration: none;
    }
    .text{
        margin-top: 25%;
    }
    .facebookimg{
        width: 40px;
    }

    .instaimg{
        width: 38px;
    }

    .twitterimg{
        width: 40px;
    }

    .sharechat{
        width: 38px;
    }

    .youtubeimg{
        width: 40px;
    }

    .Telegramimg{
        width: 40px;
    }
    .text{
        color: white;
        font-size: 13px;
        /* margin-top: 0%; */
    }
    .copyright{
        color: white;
        font-size: 13px;
    }
}
@media (max-width:576px) { 
    .footer{
        background-color: #f30866;
        /* position: fixed; */
        margin-top: 48.5%;
        bottom: 0;
        width: 100%;
    }
    .footerContainer{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
    }
    .fisrtflex{
        display: flex;
        align-items: center;
    }
    .a:hover{
        text-decoration: none;
    }
    .text{
        margin-top: 37%;
    }
    .twitterText{
        margin-top: 55%;
    }
    .youtubeText{
        margin-top: 40%;
    }
    .facebookimg{
        width: 15px;
    }

    .instaimg{
        width: 13px;
    }

    .twitterimg{
        width: 15px;
    }

    .sharechat{
        width: 13px;
    }

    .youtubeimg{
        width: 15px;
    }

    .Telegramimg{
        width: 15px;
    }
    .text{
        color: white;
        font-size: 10px;
        /* margin-top: 0%; */
    }
    .copyright{
        color: white;
        font-size: 10px;
    }
}
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {  
    .footer{
        background-color: #f30866;
        /* position: fixed; */
        margin-top: 28%;
        bottom: 0;
        width: 100%;
    }
    .top{
        margin-top: 2%;
    }
    .footerContainer{
        margin-top: 2%;
    }
    .fisrtflex{
        display: flex;
        align-items: center;
    }
    .a:hover{
        text-decoration: none;
    }
    .text{
        margin-top: 15%;
    }
    .facebookimg{
        width: 30px;
    }

    .instaimg{
        width: 28px;
    }

    .twitterimg{
        width: 30px;
    }

    .sharechat{
        width: 28px;
    }

    .youtubeimg{
        width: 30px;
    }

    .Telegramimg{
        width: 30px;
    }
    .text{
        font-size: 10px;
        color: white;
        /* margin-top: 0%; */
    }
    .copyright{
        color: white;
        font-size: 10px;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) {
    .footer{
        background-color: #f30866;
        /* position: fixed; */
        margin-top: 28%;
        bottom: 0;
        width: 100%;
    }
    .top{
        margin-top: 2%;
    }
    .footerContainer{
        margin-top: 2%;
    }
    .fisrtflex{
        display: flex;
        align-items: center;
    }
    .a:hover{
        text-decoration: none;
    }
    .text{
        margin-top: 15%;
    }
    .facebookimg{
        width: 40px;
    }

    .instaimg{
        width: 38px;
    }

    .twitterimg{
        width: 40px;
    }

    .sharechat{
        width: 38px;
    }

    .youtubeimg{
        width: 40px;
    }

    .Telegramimg{
        width: 40px;
    }
    .text{
        color: white;
        font-size: 12px;

        /* margin-top: 0%; */
    }
    .copyright{
        color: white;
        font-size: 12px;
    } 
}

@media (min-width: 991px) and (max-width:1200px) { 
    .footer{
        background-color: #f30866;
        /* position: fixed; */
        margin-top: 28%;
        bottom: 0;
        width: 100%;
    }
    .top{
        margin-top: 2%;
    }
    .footerContainer{
        margin-top: 2%;
    }
    .fisrtflex{
        display: flex;
        align-items: center;
    }
    .a:hover{
        text-decoration: none;
    }
    .text{
        margin-top: 15%;
    }
    .facebookimg{
        width: 30px;
    }

    .instaimg{
        width: 28px;
    }

    .twitterimg{
        width: 30px;
    }

    .sharechat{
        width: 28px;
    }

    .youtubeimg{
        width: 30px;
    }

    .Telegramimg{
        width: 30px;
    }
    .text{
        color: white;
        font-size: 11px;
    }
    .copyright{
        color: white;
        font-size: 11px;
    }

}