*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
    font-family: 'Lato',Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.first-logo{
    margin: -2% 0 0 0;
    width: 400px;
    height: 140px;
}

.firstFlex{
    margin: 2% 3% 0 0;
    display: flex;
    justify-content: space-around;
}

.heading{
    color: rgb(182, 23, 23);
    font-size: 30px;
    font-weight: 1000;
}

.SecondFlex{
    display: flex;
    flex-direction: column;
    gap: 6%;
}

.bluetext{
    color: #00004d;
    font-weight: 1000;
}


/* Ultra small */
@media (max-width:576px) { 
    .first-logo{
        margin: 5% 0 0 0;
        width: 130px;
        height: 70px;
    }
    .heading{
        color: rgb(182, 23, 23);
        font-size: 12px;
        font-weight: 1000;
    }
    .second-logo{
        margin-top: 15%;
        width: 90px;
        height: 60px;
    }
    .bluetext{
        color: #00004d;
        font-size: 8px;
    }
    .pathivu{
        margin-top: -5%;
    }
    .SecondFlex{
        margin-left: -5%;
    }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {   
    .first-logo{
        margin: 0 0 0 0;
        width: 180px;
        height: 120px;
    }
    .heading{
        color: rgb(182, 23, 23);
        font-size: 21px;
        font-weight: 1000;
    }
    .second-logo{
        margin-top: 13%;
        width: 180px;
        height: 90px;
    }
    .bluetext{
        color: #00004d;
        font-size: 14px;
    }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .first-logo{
        margin: 0 0 0 0;
        width: 180px;
        height: 120px;
    }
    .heading{
        color: rgb(182, 23, 23);
        font-size: 21px;
        font-weight: 1000;
    }
    .second-logo{
        margin-top: 13%;
        width: 180px;
        height: 90px;
    }
    .bluetext{
        color: #00004d;
        font-size: 14px;
    }
}

/*  Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
    body{
        background-color: blueviolet;
    }  
} */

